@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;700;900&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Titillium Web', sans-serif;
}

.splash {
  width: 100vw;
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  width: 50vw;
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 2.25rem;
}

.break {
  margin: 2rem 0;
  height: 0.35rem;
  width: 60vw;
  background-color: #31716d;
}
.description {
  text-align: center;
}

.description {
  width: 50vw;
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 2.25rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 60vw;
  margin-top: 3rem;
}

.button_l {
  background: #0f8ada;
  color: #FFFFFF;
  margin: 0.25rem;
  width: 15rem;
  height: 2rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}

.button_r {
  background: #f4faf8;
  color: #3B4140;
  margin: 0.5rem 1rem;
  width: 15rem;
  height: 2rem;
  border: 1px solid #9facab;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 1rem;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    width: 95vw;
    font-size: 1.5rem;
  }
}
