.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 80vw;
  padding: 3rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  width: 45vw;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.15;
  font-size: 3rem;
  font-family: "El Messiri", sans-serif;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.profileBox {
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.ctaBox {
  position: absolute;
  bottom: 9rem;
  align-self: flex-start;
}

.highlight {
  color: #31716d;
}

.description {
  width: 25vw;
  margin: 0;
  line-height: 1.15;
  font-size: 1.15rem;
  font-weight: lighter;
  color: #3b4140;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.button_l {
  background: #31716d;
  color: #ffffff;
  width: 13rem;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
}

.button_r {
  background: #f4faf8;
  color: #3b4140;
  margin: 0.5rem 1rem;
  width: 13rem;
  height: 2.5rem;
  border: 1px solid #9facab;
  box-sizing: border-box;
  border-radius: 3px;
  font-size: 1rem;
}

.logo {
  height: 1em;
}

@media (max-width: 599px) {
  .main {
    width: 70vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: initial;
    align-items: center;
  }

  .profile {
    width: 70vw;
    height: 50vh;
    opacity: 25%;
  }

  .profileBox {
    margin: 1rem 0;
    width: 70vw;
    position: relative;
  }

  .ctaBox {
    position: inherit;
  }

  .description {
    width: 70vw;
    text-align: center;
    margin: 1rem 0;
    font-size: 1rem;
  }

  .grid {
    width: 70vw;
    flex-direction: column;
    justify-content: center;
  }

  .title {
    text-align: center;
    font-size: 1.5rem;
    width: 70vw;
    position: absolute;
    bottom: 0;
  }

  .button_l {
    width: 70vw;
    margin: 0.25rem 0;
  }

  .button_r {
    width: 70vw;
    margin: 0.25rem 0;
  }
}

@media (min-width: 600px) {
  .ctaBox {
    bottom: 23rem;
  }
}

@media (min-width: 900px) {

  .ctaBox {
    bottom: 13rem;
  }

}

@media (min-width: 1200px) {
  
  .ctaBox {
    bottom: 20%;
  }
}

@media (min-width: 1400px) {
  
  .ctaBox {
    bottom: 35%;
  }
}

@media (min-width: 1800px) {

}