.container {
  height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
  background-color: #F4FAF8;
}

.main {
  width: 80vw;
  padding: 5rem 0 0 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: initial;
  align-items: center;
}

.title {
  width: 45vw;
  text-align: center;
  margin: 0;
  line-height: 1.15;
  font-size: 3rem;
  font-family: "El Messiri", sans-serif;
}

.description {
  width: 43vw;
  text-align: center;
  margin: 0;
  line-height: 2;
  font-size: 1rem;
}

.highlight {
  color: #31716d;
}

.wfgraph {
  margin: 1rem;
  width: 42vw;
}

.button_l {
  background: #31716d;
  color: #ffffff;
  width: 13rem;
  height: 2.5rem;
  border: none;
  border-radius: 3px;
  font-size: 1rem;
  margin: 2rem;
}

@media (min-width: 601px) {
  .mobilewfgraph {
    display: none;
  }
}


@media (max-width: 600px) {
  .main {
    justify-content: initial;
  }

  .grid {
    width: 100%;
    flex-direction: column;
  }

  .title {
    width: 75vw;
    font-size: 1.5rem;
  }

  .description {
    width: 75vw;
    font-size: 0.85rem;
  }

  .mobilewfgraph {
    width: 70vw;
  }

  .wfgraph {
    display: none;
  }
}